{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facu</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container">
        <img src="{% static "image/rocket.png" %}" alt="rocket" class="rocket">
        <div class="text">
            <h1>Hola, soy Facu!</h1>
            <p>En qué te puedo ayudar?</p>
        </div>
        <form  class="form" action="botia">
            <div class="animated-input">
                <input type="text" name="nombre" autocomplete="off" placeholder="escribí acá tu nombre">
            </div>

            <button class="btn" type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>