* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
     align-items: center;
    overflow: hidden;
    padding-top: 200px;
    background-image: url("http://127.0.0.1:8000/static/image/bg1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat',sans-serif;
}
.container {
    position: relative;
    width: 400px;
    padding: 0px 0px;
    text-align: left;
    background-image: url('http://127.0.0.1:8000/static/image/bg2.png');
    background-position: -350px 70px, top;
    background-repeat: no-repeat;

}

